<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ParamString" value="ParamString1" />
		<add key="ParamBool" value="true" />
		<add key="ParamInt" value="42" />
		<add key="ParamEnumTest2" value="2" />
		<add key="ParamEnumTest2Str" value="Test2" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1502.911" newVersion="4.2.1510.2205" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>